.task-taker-panel {
  display: flex;
  flex-direction: row;
  margin: 20px;
}
.task-taker-panel-left {
  width: 50%;
  height: 100%;
  margin: 10px;
}

.task-taker-panel-right {
  width: 50%;
  height: 100%;
  margin: 10px;
}

.task-field-panel {
  width: 100%;
}

.task-taker-search-map-box {
  width: 100%;
  height: 60vh;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type='text'] {
  width: 85%;
  padding: 12px 20px;
  margin-top: 8px;
  margin-bottom: 8px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type='submit'] {
  width: 15%;
  padding: 12px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

input[type='submit']:hover {
  background-color: #ecebeb;
}
